MONGODB_URI="mongodb+srv://Vercel-Admin-dw-digital-menu-db:PFLokyazvX03SUlX@dw-digital-menu-db.cwmrqyw.mongodb.net/?retryWrites=true&w=majority"
CLIENT_URL=https://digital-menu-front-end.vercel.app
NODE_ENV=production
VERCEL=true
JWT_SECRET=digital-menu-secret-key-2026
PORT=5000
